
<section>
    <article class="container text-center">
        <div style="padding-top: 200px;">
            <h3>Página não encontrada</h3>
            <p>Você será redirecionado a página principal.</p>
        </div>
    </article>
</section>

<script>
setTimeout(function() {
  window.location.href = "/";
}, 2500);
</script>
