<section>
    <article class="container py-5">

        <div style="padding-bottom: 35px;">
            <h1 style="padding: 0; margin: 0;">Lista de Pokémons</h1>
            <button style="border: 0;"><a href="https://niltonrochadeveloper.github.io/portfolio/" style="border: none; padding: 0; margin: 0; color: #333; font-size: 12.5px;">por Nilton - GitHub</a></button>
        </div>
{{!-- <img id="img-pokemon" src="" alt=""> --}}
        <ul> 
            {{#each pokemons}}
                
                <li class="pokemon-name">{{name}}</li>              
                <a class="tagA" href="/pokemon/{{name}}">Visualizar Pokémon</a>
                
            {{/each}}
        </ul>        
    </article>
</section>

<script>
    {{!-- const id = document.querySelectorAll('url-pokemon')
    {{!-- id.textContent.substr(-2).replace('/', ''); --}}
    const img = document.querySelectorAll('img-pokemon')

    id.forEach(i => {
       console.log(i) 
    }) 
        
    
    src = 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + {{id}} + '.png';

    console.log(id) --}}

</script>